{% extends "blog/layout.html" %}
{% load imagekit %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ post.title }}</h2>
                
                {% if post.photo %}
                {% comment %} <img src="/media/{{ post.photo }}" style="max_width: 100%;" /> {% endcomment %}
                {% comment %} 방법1 원본저장)<img src="{{ post.photo_thumbnail.url }}" style="max_width: 100%;" /> {% endcomment %}
                {% comment %} 방법2 원본미저장)<img src="{{ post.photo.url }}" style="max_width: 100%;" /> {% endcomment %}
                {% comment %} 방법3-1 템플릿){% thumbnail "100x100" post.photo as thumb %}     {% endcomment %}
                {% comment %} 방법3-2 템플릿){% thumbnail "100x100" post.photo as thumb %}
                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" /> {% endcomment %}
                    {% comment %} 방법3-3 템플릿){% endcomment %}
                    {% thumbnail "100x100" post.photo -- style="" onclick="" class="" %} 
                {% endif %}

                {{ post.content | linebreaks }}
                {% comment %} {{ post.content | linebreaksbr }} {% endcomment %}
            
                <hr/>
            
                <h3>Comments</h3>
            
                <ul>
                    {% for comment in post.comment_set.all %}
                    <li>
                        {{ comment.message }}
                        <small>by {{ comment.author }}</small>
                        <small>at {{ comment.updated_at }}</small>
                        {% if comment.author == request.user %}
                            <small><a href="{{ comment.get_edit_url }}">수정</a></small>
                            <small><a href="{{ comment.get_delete_url }}">삭제</a></small>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            
                <hr/>
                <a href="{% url "blog:post_list" %}" class="btn btn-primary">글목록</a> 
                <a href="{% url "blog:post_edit" post.id %}" class="btn btn-default">글수정</a>
                <a href="{% url "blog:comment_new" post.id %}" class="btn btn-success">댓글쓰기</a> 
                {% comment %} {% url "namespace: URL reversename " 인자 %} {% endcomment %}
                {% comment %} 인자가 없으니 안넘겨도됨 {% endcomment %}
                {% comment %} {{ post.get_absolute_url }} 도 가능{% endcomment %}
            </div>
        </div>
    </div>
    
{% endblock %}